<div class="container">
  <div class="row">
      <section data-ng-init="findStock()">
 				<div class="page-header">
        		<h1>My beers</h1>
    		</div>

        <div class="control-group form-group">
          <input type="text" class="form-control" ng-model="searchBeerText" 
            placeholder="Search by beer name or expiration date (yyyy-MM-dd)"  />
        </div>

    		<div class="list-group">
    			<span class="overlord-loading-spinner fa fa-spinner" ng-show="beerForm.loading" ></span>
	    		<li class="list-group-item" data-ng-repeat="beer in beers | filter:searchBeerText"
            ng-show="beer.count > 0">

            <span class="badge">{{beer.count}}</span>

      			<a href="#/beers/{{beer.beerId}}">
               <h4 class="list-group-item-heading" data-ng-bind="beer.beerName">
  	    			 </h4>
            </a>
             
            <p class="list-group-item-text">
              <b>Expiration date: {{beer.expirationDate}}</b>
            </p>

            <div class="list-group-item-text pull-right">
              <span class="overlord-loading-spinner fa fa-spinner" ng-show="stockUpdate[$index]">
              </span>
              <a class="btn btn-default" ng-click="stockAdd($index)">
                <i class="glyphicon glyphicon-plus"></i>
              </a>

              <a class="btn btn-default" ng-click="stockSubtract($index)">
                <i class="glyphicon glyphicon-minus"></i>
              </a>
            </div>
            
      			<p class="list-group-item-text">
      			 	<i>untappd datails come soon</i>
      			</p>

      			<small class="list-group-item-text">
                Posted on
                <span data-ng-bind="beer.createdAt | date:'dd/MM/yyyy'"></span>
            </small>

	    		</li>
    		</div>
		</section>
  </div>
</div>